#global-menu {
  display: flex;
  flex-direction: row;
  max-width: var(--vidde);
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  padding: 2em 1em;
  gap: 2em;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
}

#global-menu li {
  position: relative;
}

#global-menu li .active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #000000;
}

@media (min-width: 1050px) {
  #global-menu {
    padding: 4em 1em;
  }
}
