#global-navigasjon {
  display: flex;
  flex-direction: row;
  max-width: var(--vidde);
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  padding: 3em var(--padding);
  gap: 1em;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
}

#global-navigasjon a {
  color: inherit;
  position: relative;
}

#global-navigasjon a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -8px;
  border-radius: 2px;
  background: var(--tekst);
  opacity: 0;
  transition: 0.25s ease-in-out;
}

#global-navigasjon a:hover::after {
  opacity: 0.4;
}

#global-navigasjon a.active::after {
  opacity: 1;
}
