#global-menu {
  max-width: var(--max-width);
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  padding: 2em;
  gap: 2em;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
}

#global-menu .active {
  position: relative;
}

#global-menu .active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #000000;
}
