#global-navigasjon {
  display: flex;
  flex-direction: row;
  max-width: var(--vidde);
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  padding: 2em var(--padding);
  gap: 2em;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 500;
}

#global-navigasjon a {
  position: relative;
  margin: 0;
  padding: 0;
}

#global-navigasjon .active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: var(--lenke);
  border-radius: 4px;
}
