.link {
  position: relative;
  width: max-content;
  color: var(--blå);
}

.link svg {
  position: absolute;
  top: -0.2em;
  right: -0.8em;
  height: 0.63em;
  width: 0.63em;
}

.external-link {
  margin-right: 1em;
}
