.link {
  color: var(--lenke);
  position: relative;
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: var(--lenke-hover);
}

.link svg {
  position: absolute;
  margin-left: 1px;
  height: 0.7em;
  width: 0.7em;
}

.link svg path {
  fill: var(--lenke);
}

.external-link {
  margin-right: 1em;
}
