#cv {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-bottom: 2em;
}

#cv .cv-section {
  display: flex;
  flex-direction: column;
}

#cv .cv-section header {
  padding-bottom: 1em;
}

#cv .cv-section section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 900px) {
  #cv {
    gap: 6em;
    padding-bottom: 4em;
  }

  #cv .cv-section section {
    gap: 4em;
  }
}
