.cv-innhold header {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.cv-innhold .sted {
  font-size: 1.5em;
}

.cv-innhold .tittel {
  font-size: 1.3em;
  line-height: 150%;
  font-weight: 400;
}

.cv-innhold .tid {
  line-height: 200%;
  text-transform: capitalize;
  font-weight: 500;
}

.cv-innhold .emner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  font-weight: 600;
}
