#vipps {
  --background: #ff5b24;
  --text: #fff;
}

.main-project {
  background: var(--background);
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.task {
  padding-bottom: 4em;
}

.testing {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.testing .tests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.testing .tests .findings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.flow {
  position: relative;
  overflow: hidden;
}

.flow > * {
  position: relative;
  z-index: 1;
}

.project-footer {
  padding: 2em 1em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: linear-gradient(
    180deg,
    #00000000 0%,
    var(--background-darker) 100%
  );
}

.project-footer header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
