.kort {
  cursor: default;
  overflow: hidden;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid var(--hvit-90);
  background: var(--hvit-95);
}

@media (prefers-color-scheme: dark) {
  .kort {
    border: 2px solid var(--svart-85);
    background: var(--svart-90);
  }
}
