.button {
  position: relative;
  font-size: 1rem;
  padding: 0.9em 1.5rem;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 36px;
  overflow: hidden;
  background: var(--text);
  color: var(--background);
}

.button p {
  position: relative;
  z-index: 2;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;
}

.button:hover::after {
  background: rgba(0, 0, 0, 0);
}

.link-button {
  cursor: pointer;
}
