.project-footer {
  padding: 2em var(--padding);
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.project-footer header {
  justify-content: center;
  align-items: center;
  text-align: center;
}
