.grid {
  display: grid;
  gap: 1em 2em;
  grid-template-columns: repeat(1, 1fr);
}

.grid > * {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .grid[data-grids="6"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 400px) {
  .grid[data-grids="5"],
  .grid[data-grids="6"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .grid[data-grids="2"],
  .grid[data-grids="3"],
  .grid[data-grids="4"],
  .grid[data-grids="5"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid[data-grids="6"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 800px) {
  .grid[data-grids="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid[data-grids="5"],
  .grid[data-grids="6"] {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .grid[data-grids="4"] {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid[data-grids="5"] {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid[data-grids="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
}
