.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.hero-xl {
  padding: 8em 1em;
}

.hero-gradient {
  background: linear-gradient(
    var(--background) 0%,
    var(--background-darker) 50%,
    var(--background) 100%
  );
}

.hero-gradient {
  background-size: cover;
  background-position: center center;
}

.hero article {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding: 3em;
  background: var(--background);
  border: 1px solid var(--separator);
  border-radius: 12px;
}
