.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.hero article {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: 100%;
  max-width: var(--max-width);
}
