#global-footer {
  width: 100%;
  background: rgb(241, 241, 241);
}

.global-footer-innhold {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2em 1em;
}

.eksterne-sider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
}

.eksterne-sider img {
  height: 27px;
  width: auto;
  object-fit: contain;
  border-radius: 0;
}
