#global-footer {
  width: 100%;
  position: relative;
  background: var(--hvit);
  color: var(--svart);
}

#global-footer::after {
  z-index: 0;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--svart);
  opacity: 0.05;
}

.global-footer-innhold {
  max-width: var(--vidde);
  margin: 0 auto;
  padding: 4em var(--padding);
  position: relative;
  z-index: 1;
}

.eksterne-sider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
}

.eksterne-sider img {
  height: 27px;
  width: auto;
  object-fit: contain;
  border-radius: 0;
}
