#global-footer {
  width: 100%;
  position: relative;
}

#global-footer::before {
  content: "";
  position: absolute;
  background: var(--tekst);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.07;
}

#global-footer a {
  color: inherit;
  width: max-content;
}

#global-footer-innhold {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2em 4em;
  flex-wrap: wrap;
  max-width: var(--vidde);
  margin: 0 auto;
  padding: 4em var(--padding);
  position: relative;
}
