.testing {
  position: relative;
  padding-top: 4em;
  padding-bottom: 4em;
}

.testing > * {
  position: relative;
  z-index: 1;
}

.testing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.2;
  z-index: 0;
}
