.testing {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3em 0 4em 0;
}

.testing > * {
  position: relative;
  z-index: 1;
}

.testing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.3;
  z-index: 0;
}

.tests {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
