@import "./normalize.css";

:root {
  --blå-10: hsl(225, 100%, 10%);
  --blå-20: hsl(225, 100%, 20%);
  --blå-30: hsl(225, 100%, 30%);
  --blå-40: hsl(225, 100%, 40%);
  --blå-50: hsl(225, 100%, 50%);
  --blå-60: hsl(225, 100%, 60%);
  --blå-70: hsl(225, 100%, 70%);
  --blå-80: hsl(225, 100%, 80%);
  --blå-90: hsl(225, 100%, 90%);
  --grønn-10: hsl(110, 100%, 10%);
  --grønn-20: hsl(110, 100%, 20%);
  --grønn-30: hsl(110, 100%, 30%);
  --grønn-40: hsl(110, 100%, 40%);
  --grønn-50: hsl(110, 100%, 50%);
  --grønn-60: hsl(110, 100%, 60%);
  --grønn-70: hsl(110, 100%, 70%);
  --grønn-80: hsl(110, 100%, 80%);
  --grønn-90: hsl(110, 100%, 90%);
  --rød-10: hsl(0, 100%, 10%);
  --rød-20: hsl(0, 100%, 20%);
  --rød-30: hsl(0, 100%, 30%);
  --rød-40: hsl(0, 100%, 40%);
  --rød-50: hsl(0, 100%, 50%);
  --rød-60: hsl(0, 100%, 60%);
  --rød-70: hsl(0, 100%, 70%);
  --rød-80: hsl(0, 100%, 80%);
  --rød-90: hsl(0, 100%, 90%);
  --gul-10: hsl(55, 100%, 10%);
  --gul-20: hsl(55, 100%, 20%);
  --gul-30: hsl(55, 100%, 30%);
  --gul-40: hsl(55, 100%, 40%);
  --gul-50: hsl(55, 100%, 50%);
  --gul-60: hsl(55, 100%, 60%);
  --gul-70: hsl(55, 100%, 70%);
  --gul-80: hsl(55, 100%, 80%);
  --gul-90: hsl(55, 100%, 90%);
  --oransj-10: hsl(25, 100%, 10%);
  --oransj-20: hsl(25, 100%, 20%);
  --oransj-30: hsl(25, 100%, 30%);
  --oransj-40: hsl(25, 100%, 40%);
  --oransj-50: hsl(25, 100%, 50%);
  --oransj-60: hsl(25, 100%, 60%);
  --oransj-70: hsl(25, 100%, 70%);
  --oransj-80: hsl(25, 100%, 80%);
  --oransj-90: hsl(25, 100%, 90%);
  --grå-0: hsl(0, 0%, 0%);
  --grå-5: hsl(0, 0%, 5%);
  --grå-10: hsl(0, 0%, 10%);
  --grå-20: hsl(0, 0%, 20%);
  --grå-30: hsl(0, 0%, 30%);
  --grå-40: hsl(0, 0%, 40%);
  --grå-50: hsl(0, 0%, 50%);
  --grå-60: hsl(0, 0%, 60%);
  --grå-70: hsl(0, 0%, 70%);
  --grå-80: hsl(0, 0%, 80%);
  --grå-90: hsl(0, 0%, 90%);
  --grå-95: hsl(0, 0%, 95%);
  --grå-97: hsl(0, 0%, 97%);
  --grå-100: hsl(0, 0%, 100%);
  --hvit: var(--grå-100);
  --svart: var(--grå-0);
  --bakgrunn: var(--hvit);
  --tekst: var(--svart);
  --tekst-svak: var(--grå-30);
  --lenke: var(--blå-50);
  --lenke-hover: var(--blå-10);
  --vidde: 800px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bakgrunn);
  color: var(--tekst);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 150%;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
}

p,
li,
label,
figcaption {
  font-size: 1em;
}

li,
p,
figcaption {
  line-height: 200%;
}

ul {
  padding-left: 1em;
  margin-bottom: 1.2em;
}

ul ul {
  padding-left: 2em;
}

label,
figcaption {
  cursor: default;
}

label {
  line-height: 130%;
  font-weight: 600;
}

a {
  text-decoration: none;
}

p a {
  padding-bottom: 2px;
  color: var(--lenke);
  border-bottom: 2px solid var(--lenke);
  transition: ease-in-out 0.2s;
}

p a:hover {
  color: var(--lenke-hover);
  border-bottom: 2px solid var(--lenke-hover);
}

hr {
  width: 100%;
  background: var(--tekst);
  opacity: 0.1;
  height: 1px;
  border: none;
  outline: none;
}

section,
blockquote,
figure,
img,
figcaption {
  width: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--vidde);
  gap: 4em;
  padding: 1em;
}

img,
figure {
  width: 100%;
  margin: 0 auto;
}

svg path {
  fill: var(--tekst);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bakgrunn: var(--svart);
    --tekst: var(--hvit);
    --tekst-svak: var(--grå-90);
    --lenke: var(--blå-80);
    --lenke-hover: var(--blå-70);
  }
}
