@import "./normalize.css";

:root {
  --grønn: #e5f4e8;
  --grønn-mørk: hsl(133, 100%, 10%);
  --blå: #e5f1ff;
  --blå-mørk: hsl(215, 100%, 14%);
  --hvit: #ffffff;
  --svart: #121213;
  --bakgrunn: var(--hvit);
  --tekst: var(--svart);
  --lenke: hsl(215, 100%, 40%);
  --vidde: 900px;
  --padding: 1em;
  --radius: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bakgrunn);
  color: var(--tekst);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 150%;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.4em;
  font-weight: 500;
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
}

p,
li,
label,
figcaption {
  font-size: 1em;
}

li,
p,
figcaption {
  line-height: 200%;
}

label,
figcaption {
  cursor: default;
}

label {
  line-height: 145%;
  font-weight: 600;
}

a {
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: 0.2s ease-in-out;
}

hr {
  width: 100%;
  background: var(--tekst);
  opacity: 0.1;
  height: 1px;
  border: none;
  outline: none;
}

main,
section,
article,
blockquote,
figure,
img,
figcaption {
  width: 100%;
  margin: 0 auto;
}

main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img,
figure {
  width: 100%;
}

svg {
  fill: var(--svart);
}

.gap-1,
.gap-2,
.gap-4,
.gap-8,
.gap-12,
.gap-16 {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.gap-4 {
  gap: 4em;
}

.gap-8 {
  gap: 8em;
}

.gap-12 {
  gap: 12em;
}

.gap-16 {
  gap: 16em;
}

@media (min-width: 700px) {
  :root {
    --padding: 2em;
  }
}

@media (min-width: 1050px) {
  :root {
    --radius: 8px;
  }

  h1 {
    font-size: 2.9em;
  }

  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bakgrunn: var(--svart);
    --tekst: var(--hvit);
  }
}
