@import "./normalize.css";
@import "./utils.css";

:root {
  --background: #ffffff;
  --text: #121213;
  --link: #005ee2;
  --link-hover: #0047ab;
  --separator: #d6d6d6;
  --max-width: 900px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

main {
  min-height: calc(100vh - var(--header-height));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 150%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

p,
li,
label,
figcaption {
  font-size: 1em;
  line-height: 175%;
}

figcaption {
  cursor: default;
}

a {
  text-decoration: none;
  position: relative;
  color: inherit;
  transition: 0.2s ease-in-out;
}

hr {
  width: 100%;
  background: -var(--separator);
  height: 1px;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img,
figure {
  max-width: 100%;
  margin: 0;
  border-radius: 4px;
}

main {
  padding: 2em;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.5em;
    font-weight: 700;
  }

  h2 {
    font-size: 1.9em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 700;
  }

  h4 {
    font-size: 1.2em;
    font-weight: 500;
  }

  h5 {
    font-size: 1em;
    font-weight: 700;
  }
}
