@import "./normalize.css";

:root {
  --background: #fffbf3;
  --background-darker: #f8e9de;
  --text: #121213;
  --text-lighter: #565656;
  --link: #0e72ff;
  --link-hover: #0047ab;
  --separator: #d6d6d6;
  --max-width: 900px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--text);
}

main {
  min-height: calc(100vh - var(--header-height));
}

.contain {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 130%;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  line-height: 150%;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

p,
li {
  font-size: 1em;
  line-height: 180%;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--link);
  transition: 0.3s ease-in-out;
}

a:hover {
  color: var(--link-hover);
}

hr {
  width: 100%;
  background: -var(--separator);
  height: 1px;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

@media (min-width: 600px) {
  .contain {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191f;
    --background-darker: #090f13;
  }

  body {
    --text: #fff;
    --text-lighter: #e9e9e9;
    --separator: #434346;
    --link: #156ce6;
    --link-hover: #4190ff;
  }
}
