@import "./normalize.css";

:root {
  --background: #fffcf9;
  --background-darker: #f6ebe3;
  --header-height: 6em;
  --max-width: 1000px;
  --spacing: 1em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text: #121213;
  --text-lighter: #838383;
  --link: #7eb4ff;
  --link-hover: #0061e9;
  --separator: #d6d6d6;
  color: var(--text);
}

main {
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
label {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 700;
}

h2,
h3,
h4,
h5 {
  line-height: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

p,
li {
  font-size: 1.1em;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: inherit;
}

p a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: var(--link);
  transition: 0.2s ease-in-out;
}

p a:hover::after {
  background: var(--link-hover);
}

hr {
  width: 100%;
  background-color: var(--separator);
  height: 1px;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: blue;
}

img {
  max-width: 100%;
}

button {
  font-size: 1em;
  padding: 1em 2em;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 350px) {
  :root {
    --spacing: 2em;
  }
}

@media (min-width: 600px) {
  :root {
    --header-height: 10em;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191f;
    --background-darker: #090f13;
  }

  body {
    --text: #fff;
    --text-lighter: #cfcfcf;
    --separator: #434346;
    --link: #156ce6;
    --link-hover: #4190ff;
  }
}
