@import "./normalize.css";

:root {
  --oransj: hsl(9, 100%, 50%);
  --oransj-lys: hsl(9, 100%, 70%);
  --oransj-mørk: hsl(9, 100%, 20%);
  --gul: hsl(59, 100%, 50%);
  --gul-lys: hsl(59, 100%, 70%);
  --gul-mørk: hsl(59, 100%, 20%);
  --grønn: hsl(133, 100%, 50%);
  --grønn-lys: hsl(133, 100%, 70%);
  --grønn-mørk: hsl(133, 100%, 20%);
  --blå: hsl(215, 100%, 50%);
  --blå-lys: hsl(215, 100%, 70%);
  --blå-mørk: hsl(215, 100%, 20%);
  --lilla: hsl(256, 100%, 50%);
  --lilla-lys: hsl(256, 100%, 70%);
  --lilla-mørk: hsl(256, 100%, 20%);
  --rosa: hsl(295, 100%, 50%);
  --rosa-lys: hsl(295, 100%, 70%);
  --rosa-mørk: hsl(295, 100%, 20%);
  --rød: hsl(355, 100%, 50%);
  --rød-lys: hsl(355, 100%, 70%);
  --rød-mørk: hsl(355, 100%, 20%);
  --hvit: hsl(0, 0%, 100%);
  --hvit-50: hsl(0, 0%, 50%);
  --hvit-85: hsl(0, 0%, 85%);
  --hvit-90: hsl(0, 0%, 90%);
  --hvit-95: hsl(0, 0%, 95%);
  --hvit-98: hsl(0, 0%, 98%);
  --svart: hsl(0, 0%, 0%);
  --svart-50: hsl(0, 0%, 50%);
  --svart-85: hsl(0, 0%, 15%);
  --svart-90: hsl(0, 0%, 10%);
  --svart-95: hsl(0, 0%, 5%);
  --svart-98: hsl(0, 0%, 2%);
  --vidde: 900px;
  --bakgrunn: var(--hvit);
  --tekst: var(--svart);
  --tekst-svak: var(--svart-90);
  --lenke: var(--blå);
  --lenke-hover: var(--blå-mørk);
  --padding: 1em;
  --radius: 0px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bakgrunn);
  color: var(--tekst);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 150%;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  font-weight: 700;
}

h4 {
  font-size: 1.3em;
  font-weight: 500;
}

h5 {
  font-size: 1.2em;
  font-weight: 500;
}

p,
li,
label,
figcaption {
  font-size: 1em;
}

li,
p,
figcaption {
  line-height: 200%;
}

label,
figcaption {
  cursor: default;
}

label {
  line-height: 145%;
  font-weight: 600;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  color: var(--lenke);
  border-bottom: 2px solid var(--lenke);
}

a:hover {
  color: var(--lenke-hover);
  border-bottom: 2px solid var(--lenke-hover);
}

hr {
  width: 100%;
  background: var(--tekst);
  opacity: 0.1;
  height: 1px;
  border: none;
  outline: none;
}

section,
blockquote,
figure,
img,
figcaption {
  width: 100%;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

main .wrapper {
  max-width: var(--vidde);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

img,
figure {
  width: 100%;
  margin: 0 auto;
}

svg path {
  fill: var(--tekst);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bakgrunn: var(--svart);
    --tekst: var(--hvit);
    --tekst-svak: var(--hvit-90);
    --lenke: var(--blå-lys);
    --lenke-hover: var(--blå);
  }
}
