@import "normalize.css";
:root {
  --background: #fffcf9;
  --background-darker: #e9edf8;
  --text: #121213;
  --separator: #d6d6d6;
  --linksIdle: #052f6d;
  --linksVisited: #2b00a1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  margin: 0 auto;
}

.width-900 {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

p,
li {
  font-size: 1.1em;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  padding-bottom: 1px;
}

a:link {
  color: var(--linksIdle);
  border-bottom: 2px solid var(--linksIdle);
}

a:visited {
  color: var(--linksVisited);
  border-bottom: 2px solid var(--linksVisited);
}

ul {
  margin: 0;
}

hr {
  width: 100%;
  background-color: var(--separator);
  height: 1px;
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191f;
    --background-darker: #03090e;
    --text: #fff;
    --separator: #434346;
    --linksIdle: #60a0ff;
    --linksVisited: #b398ff;
  }
}
