.constrain {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.padding {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}

.gap-4 {
  gap: 3em;
}

.gap-8 {
  gap: 6em;
}

.gap-12 {
  gap: 8em;
}

.gap-16 {
  gap: 12em;
}

.backdrop {
  position: relative;
}

.backdrop > * {
  z-index: 1;
}

.backdrop::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 4px;
  background: rgb(246, 246, 246);
}

@media (min-width: 600px) {
  .gap-1 {
    gap: 1em;
  }

  .gap-2 {
    gap: 2em;
  }

  .gap-4 {
    gap: 4em;
  }

  .gap-8 {
    gap: 8em;
  }

  .gap-12 {
    gap: 12em;
  }

  .gap-16 {
    gap: 16em;
  }
}
