.internal-link {
  transition: 0.3s ease-in-out;
}

.internal-link:hover {
  border-color: var(--link-hover);
}

.external-link {
  position: relative;
  margin-right: 1em;
}

.external-link svg {
  position: absolute;
  margin-left: 1px;
  height: 0.7em;
  width: 0.7em;
}

.external-link svg path {
  fill: var(--link);
}
