#not-found {
  position: relative;
  background: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#not-found:after {
  animation: grain 0.2s infinite;
  background-image: url("../../assets/bg/grain.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.7;
  position: absolute;
  top: -100%;
  width: 300%;
}

@-webkit-keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(-1%, 1%);
  }
  30% {
    transform: translate(1%, -1%);
  }
  40% {
    transform: translate(-1%, 1%);
  }
  50% {
    transform: translate(-1%, 1%);
  }
  60% {
    transform: translate(1%, 0%);
  }
  70% {
    transform: translate(0%, 1%);
  }
  80% {
    transform: translate(0%, 1%);
  }
  90% {
    transform: translate(-1%, 1%);
  }
}

@-moz-keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(-1%, 1%);
  }
  30% {
    transform: translate(1%, -1%);
  }
  40% {
    transform: translate(-1%, 1%);
  }
  50% {
    transform: translate(-1%, 1%);
  }
  60% {
    transform: translate(1%, 0%);
  }
  70% {
    transform: translate(0%, 1%);
  }
  80% {
    transform: translate(0%, 1%);
  }
  90% {
    transform: translate(-1%, 1%);
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(-1%, 1%);
  }
  30% {
    transform: translate(1%, -1%);
  }
  40% {
    transform: translate(-1%, 1%);
  }
  50% {
    transform: translate(-1%, 1%);
  }
  60% {
    transform: translate(1%, 0%);
  }
  70% {
    transform: translate(0%, 1%);
  }
  80% {
    transform: translate(0%, 1%);
  }
  90% {
    transform: translate(-1%, 1%);
  }
}

#not-found article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  padding-bottom: var(--padding);
  z-index: 1;
}

#not-found article h1 {
  font-size: 4em;
  font-weight: 900;
}

#not-found article h2 {
  font-size: 1.2em;
  font-weight: 500;
}
