.infopanel {
  width: 100%;
  max-width: var(--vidde);
  margin: 0 auto;
  padding: 2em var(--padding);
  border-radius: var(--radius);
  background: var(--blå-lys);
}

.infopanel .infopanel-header label {
  cursor: text;
  font-size: 1.4em;
  font-weight: 700;
}

.infopanel .infopanel-innhold {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em 4em;
}

@media (prefers-color-scheme: dark) {
  .infopanel {
    background: var(--blå-mørk);
  }
}
