.infopanel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--vidde);
  margin: 0 auto;
  gap: 2em;
  padding: 2em var(--padding);
  position: relative;
  border-radius: var(--radius);
  background: var(--blå);
}

.infopanel header label {
  cursor: text;
  font-size: 1.4em;
  font-weight: 700;
}

@media (prefers-color-scheme: dark) {
  .infopanel {
    background: var(--blå-mørk);
  }
}
