.info-panel {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  position: relative;
}

.info-panel > * {
  position: relative;
  z-index: 1;
}

.info-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: var(--border-radius);
  opacity: 0.1;
  background: rgb(0, 115, 255);
}
