.etikett {
  color: var(--grå-5);
  background: var(--grå-90);
  border: 1px solid var(--grå-80);
  width: max-content;
  padding: 6px 16px;
  border-radius: 100px;
}

.etikett.rød {
  background: var(--rød-90);
  border-color: var(--rød-80);
}

.etikett.grønn {
  background: var(--grønn-80);
  border-color: var(--grønn-40);
}

.etikett.blå {
  background: var(--blå-90);
  border-color: var(--blå-80);
}

.etikett.gul {
  background: var(--gul-80);
  border-color: var(--gul-40);
}

.etikett.oransj {
  background: var(--oransj-90);
  border-color: var(--oransj-50);
}
