.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 1px solid var(--text);
  border-radius: 12px;
  overflow: hidden;
  background: var(--background);
  color: var(--text);
}

.card .card-image {
  position: relative;
  width: 100%;
  margin: 0;
}

.card .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.card-link {
  border-radius: 2px;
  border-color: var(--link);
  transition: 0.3s ease-in-out;
}

.card-link:hover {
  color: inherit;
}

.card[data-large="true"] {
  --background: #ffffff;
  --text: #000;
  min-height: 50vh;
  border: none;
  padding: 0;
  border-radius: 0;
}

.card[data-large="true"] .card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card[data-large="true"] .card-content {
  z-index: 1;
  color: #ffffff;
}

@media (min-width: 600px) {
  .card[data-large="true"] {
    flex-direction: row;
  }

  .card[data-large="true"] .card-content {
    padding: 2em;
  }
}

@media (min-width: 1000px) {
  .card[data-large="true"] {
    border-radius: 8px;
  }

  .card[data-large="true"] .card-content {
    padding: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  .card[data-large="true"] {
    --background: #000;
    --text: #fff;
  }
}
