.card {
  position: relative;
  justify-content: center;
  align-items: stretch;
  border: 1px solid var(--text);
  border-radius: 4px;
  overflow: hidden;
  background: var(--background);
  color: var(--text);
}

.card .card-image {
  position: relative;
  width: 100%;
  margin: 0;
}

.card .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card-content {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.card-link {
  border-radius: 2px;
  border-color: var(--link);
  transition: 0.3s ease-in-out;
}

.card-link:hover {
  color: inherit;
}

.card[data-large="true"] {
  height: 30vh;
  min-height: 300px;
  border: none;
  padding: 0;
  border-radius: 0;
  color: #ffffff;
}

.card[data-large="true"] .card-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.card[data-large="true"] .card-content {
  z-index: 1;
  color: #ffffff;
}

.card[data-large="true"] .card-content h2 {
  font-size: 2em;
  text-shadow: 0 0 8px #000000;
}

@media (min-width: 600px) {
  .card[data-large="true"] {
    flex-direction: row;
  }

  .card[data-large="true"] .card-content {
    padding: 2em;
  }
}

@media (min-width: 1000px) {
  .card[data-large="true"] {
    border-radius: 8px;
    min-height: 400px;
  }

  .card[data-large="true"] .card-content {
    padding: 2em;
  }

  .card[data-large="true"] .card-content h2 {
    font-size: 3em;
  }
}
