.card {
  position: relative;
  justify-content: center;
  align-items: stretch;
  border: 1px solid var(--text);
  border-radius: 4px;
  overflow: hidden;
  background: var(--background);
  color: var(--text);
}

.card .card-image {
  position: relative;
  width: 100%;
  margin: 0;
}

.card .card-image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .card-content {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.card-link {
  border-color: var(--link);
  transition: 0.3s ease-in-out;
}

.card-link:hover {
  color: inherit;
}
