#projects {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#projects .projects-header {
  padding: 2em 0;
  text-align: center;
}

#projects .grid {
  gap: 2rem;
}

#projects .card h2 {
  font-size: 2rem;
  text-shadow: 0 0 8px #000000;
}

@media (min-width: 900px) {
  #projects {
    min-height: 80vh;
  }

  #projects .card h2 {
    font-size: 4rem;
  }
}
