#projects {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#projects .projects-header {
  padding: 2em 0;
  text-align: center;
}

#projects section {
  display: flex;
  flex-direction: column;
}

#projects .card h2 {
  font-size: 2em;
  text-shadow: 0 0 8px #000000;
}

@media (min-width: 900px) {
  #projects {
    min-height: 80vh;
    padding-bottom: 6em;
  }

  #projects .projects-header {
    padding: 2em 0 4em 0;
  }

  #projects section {
    gap: 2em;
  }

  #projects .card h2 {
    font-size: 3em;
  }

  #projects .grid {
    gap: 2em;
  }
}
