#global-header section {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

#global-header h1 a {
  color: inherit;
  padding-bottom: 0;
  border-bottom: none;
}

#global-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1em 2em;
  padding: 0;
}
