#global-header {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
}

#global-header h1 a {
  color: inherit;
  padding-bottom: 0;
  border-bottom: none;
}

#global-header p {
  font-size: 1.1em;
}

#global-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em 2em;
  padding: 0;
}

@media screen and (min-width: 700px) {
  #global-header {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1em;
  }

  #global-menu {
    justify-content: flex-end;
  }
}
