#global-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--background);
}

#global-header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

#global-header h1 a {
  color: inherit;
}

#global-header h1 a::after {
  background: none;
}

#global-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1em 2em;
  padding: 0;
}

#global-header[type="project"] {
  top: 0;
  position: fixed;
  background: transparent;
}

#global-header[type="project"] a {
  color: white;
}

#global-header[type="project"] #global-menu a::after {
  background: white;
}

#global-header[type="project"] #global-menu a:hover::after {
  background: var(--separator);
}
