#global-header {
  width: 100%;
  padding: 1em 0;
  background: transparent;
  font-size: 1.3em;
}

#global-header[data-position="absolute"]::after,
#global-header[data-position="fixed"]::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #0000006a 0%, #00000000 100%);
  z-index: 0;
}

#global-header[data-position="absolute"] > *,
#global-header[data-position="fixed"] > * {
  position: relative;
  z-index: 1;
}

#global-header[data-position="fixed"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#global-header[data-position="absolute"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#global-header[data-position="absolute"] a {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#global-menu,
#global-menu ul {
  padding: 0;
  list-style: none;
}

#global-menu {
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
  padding: 0 var(--padding);
}

#global-menu ul {
  gap: 1em 2em;
  flex-wrap: wrap;
  font-weight: 500;
}

#global-menu .home {
  font-weight: 700;
}

#global-menu .home::after {
  display: none;
}

@media (min-width: 700px) {
  #global-header {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}
