#global-header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
}

#global-header[data-bg="transparent"] {
  background: transparent;
}

#global-header[data-pos="fixed"] {
  position: fixed;
}

#global-header[data-pos="absolute"] {
  position: absolute;
}

#global-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
  width: 100%;
  max-width: var(--max-width);
}

#global-menu ul {
  list-style-type: none;
  font-weight: 500;
}

#global-menu ul a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: var(--link);
  transition: 0.2s ease-in-out;
}

#global-menu ul a:hover::after {
  background: var(--link-hover);
}

#global-menu .home {
  font-size: 1.3em;
  font-weight: 700;
}
