#global-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background: transparent;
}

#global-header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#global-header[data-position="absolute"]::after,
#global-header[data-position="fixed"]::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #0000006a 0%, #00000000 100%);
  z-index: 0;
}

#global-header[data-position="absolute"] > *,
#global-header[data-position="fixed"] > * {
  position: relative;
  z-index: 1;
}

#global-header[data-position="fixed"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#global-header[data-position="absolute"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#global-header[data-position="absolute"] a {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#global-menu {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

#global-menu ul {
  gap: 1em 2em;
  flex-wrap: wrap;
  font-weight: 500;
}

#global-menu .home {
  font-weight: 700;
}

#global-menu .home::after {
  display: none;
}

@media (min-width: 700px) {
  #global-header {
    padding: 3em 0;
  }
}
