.entries {
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  width: 100%;
}

.entries:first-of-type {
  padding-top: 2em;
}

.entries::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--separator);
  margin-top: 4em;
  border-radius: 20px;
}

.entries article {
  margin-top: 6em;
  padding-left: 1em;
  border-left: 1px solid var(--text);
}

.entries article:first-of-type {
  margin-top: 2em;
}

.entries article header {
  margin-bottom: 1em;
}
