#global-footer {
  width: 100%;
  background: var(--background-darker);
  border-top: 1px solid var(--separator);
  padding: 6em 0;
}

#global-footer .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
