#global-footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 4em;
  padding-bottom: 4em;
  background: var(--background-darker);
  border-top: 1px solid var(--separator);
}

#global-footer .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
