#global-footer {
  width: 100%;
  background: rgb(241, 241, 241);
}

.global-footer-content {
  padding-top: 4em;
  padding-bottom: 4em;
  justify-content: center;
}

.external-pages {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.external-pages img {
  height: 24px;
  object-fit: contain;
  border-radius: 0;
}
