.card-link {
  border: 1px solid var(--link);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  transition: 0.3s ease-in-out;
}

.card-link:hover {
  border-color: var(--link-hover);
}
