.internal-link {
  border: 1px solid var(--link);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  transition: 0.3s ease-in-out;
}

.internal-link:hover {
  border-color: var(--link-hover);
}

.external-link {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.2em;
}

.external-link svg {
  position: relative;
  top: 0.1em;
  height: 0.7em;
  width: 0.7em;
}

.external-link svg path {
  fill: var(--text);
}
