#home {
  display: grid;
  grid-template-rows: 1fr max-content;
  min-height: calc(100vh - 100px);
  padding-bottom: 4em;
}

#home .external-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
