#home {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  gap: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 700px) {
  #home {
    padding-bottom: 2rem;
  }
}

@media (min-width: 900px) {
  #home {
    padding-bottom: 4rem;
  }
}
