button,
.knapp {
  position: relative;
  font-size: 1.1em;
  padding: 1em 1.2em;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 4px;
  background: var(--link);
  cursor: pointer;
  width: max-content;
}

.knapp,
.ekstern svg path {
  color: #ffffff;
  fill: #ffffff;
}

.ekstern svg {
  position: absolute;
  margin-left: 1px;
  margin-top: -4px;
  height: 0.7em;
  width: 0.7em;
}

.ekstern {
  padding-right: 1.9em;
}
