#prosjekt .innhold > section,
#prosjekt .innhold > figure figcaption {
  max-width: var(--vidde);
  padding: 0 var(--padding);
}

#prosjekt .innhold > figure {
  max-width: calc(var(--vidde) + 10%);
}
