.sitatblokk {
  padding: 2em var(--padding);
  position: relative;
  background: var(--grønn);
}

.sitatblokk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: var(--grønn-mørk);
}

.sitatblokk figcaption {
  padding: 0;
  font-weight: 700;
}

.sitatblokk .sitat {
  font-size: 1.2em;
}

.sitatblokk figcaption cite {
  display: flex;
  flex-direction: column;
}

.sitatblokk cite .navn,
.sitatblokk cite .kredibilitet {
  opacity: 0.8;
}

.sitatblokk cite .navn {
  font-size: 1em;
}

.sitatblokk cite .kredibilitet {
  font-size: 0.95em;
}

@media (prefers-color-scheme: dark) {
  .sitatblokk {
    background: var(--grønn-mørk);
  }

  .sitatblokk::before {
    background: var(--grønn);
  }
}
