.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: var(--padding);
  background-size: cover;
  background-position: center center;
}

.banner .innhold {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: var(--vidde);
  margin: 0 auto;
  background: var(--bakgrunn);
  padding: 2em;
  border-radius: var(--radius);
}
